<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMAutomationSuite">
<listeners>
<listener class-name="com.qa.ExtentReportListner.ExtentReportNG" />
</listeners>
    <test name="test">
         <classes>
             <class name="com.crm.qa.testcases.HomePageTestCase"/>
             <class name="com.crm.qa.testcases.LoginPageTestCase"/>
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->